:root {
    --dark-blue: #1B263B;
    --light-blue: #48669e;
    --light-gray: #e7e7e7;
    --dark-gray: #ddd;
    --white-color: #fff;
    --black-color: #000;
    --red-color: #AB1313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem 0;
}

body {
    font-family: 'Roboto', Arial, serif;
    margin: 0 auto;
    text-align: center;
}

header,
footer {
    background-color: var(--dark-blue);
    color: var(--white-color);
}

header {
    display: block;
}

footer {
    height: 200px;
    align-content: center;
}

footer>p {
    margin: .5rem;
}

h2 {
    margin-bottom: 1rem;
}

/*======  Navigation Menu  ======*/

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-wrap: nowrap;
    padding-bottom: 1rem;
}

.navigation a {
    display: none;
    padding: .5rem;
    margin-top: .5rem;
    margin-left: 0;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    padding: 1rem;
    border-radius: 15px;
}

.navigation a:hover {
    font-weight: 700;
    background-color: var(--light-blue);
}

.navigation .active {
    font-weight: 700;
    background-color: var(--light-blue);
}

/*======  Hamburger Menu  ======*/

#menu {
    font-size: 48px;
    background: none;
    border: 0;
    color: var(--white-color);
    position: absolute;
    top: 2.5rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.open a {
    display: block;
}

/*======  Containers  ======*/

.cwd-container {
    display: grid;
    grid-template-rows: 25px 50px 190px 1fr;
    align-items: center;
}

.search-container {
    grid-area: 2 / 1 / 3 / 1;
    background-color: var(--light-gray);
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
    margin: 0 auto;
}

.cwd-container h3 {
    grid-area: 1 / 1 / 2 / 1;
    margin-top: 10px;
}

.rbw-container {
    justify-items: center;
}

/*======  Current Weather Page  ======*/

#search {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    height: 35px;
    width: 260px;
}

.weather-content {
    grid-area: 3 / 1 / 4 / 1;
    display: flex;
    text-align: center;
    gap: 2rem;
    margin: 0 auto;
}

.weather-info,
.weather-image {
    align-content: center;
}

.weekly-weather {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.weather-box {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
}

.daily-weather {
    max-width: 142px;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hourly-weather img {
    margin: 0 auto;
}

#location {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.bold-text {
    font-weight: 700;
}

#condition {
    text-transform: capitalize;
}

#map {
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

#search-button {
    cursor: pointer;
}

/*======  Hourly Forecast Page  ======*/

.forecast-menu {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.day-button {
    padding: 10px 15px;
    border: none;
    background-color: var(--dark-gray);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.day-button.active {
    background-color: var(--light-blue);
    color: var(--white-color);
}

.forecast-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/*======  Route-Based Page  ======*/

#controls {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 45px);
    gap: 1rem;
    background-color: var(--light-gray);
    padding: 10px;
    justify-items: center;
    justify-content: center;
    min-width: 350px;
}

#controls input {
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

#controls button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    grid-area: 3 / 1 / 4 / 2;
    margin: 0 auto;
}

#controls button:hover {
    background-color: var(--dark-blue);
}

#error {
    color: var(--red-color);
    font-weight: bold;
    margin-top: 10px;
    grid-area: 4 / 1 / 5 / 2;
}

#weather-info {
    background-color: var(--light-gray);
    padding: 20px;
    margin: 20px auto;
    display: none;
}

#weather-info h3 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

#weather-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#weather-list li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#weather-list li img {
    width: 50px;
    height: 50px;
}

#weather-list li span {
    font-size: 14px;
    color: #333;
}

#weather-list li span:nth-child(2),
#weather-list li span:nth-child(3) {
    margin-left: 10px;
}

#route-info {
    display: none;
}

#origin {
    grid-area: 1 / 1 / 2 / 2;
}

#destination {
    grid-area: 2 / 1 / 3 / 2;
}

@media screen and (min-width: 790px) {

    .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1rem;
    }

    /*======  Navigation Menu  ======*/

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        margin-top: 0;
        margin-left: .5rem;
    }

    /*======  Hamburger Menu  ======*/

    #menu {
        display: none;
    }

    .bottom-border {
        position: relative;
    }

    .bottom-border::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        border-bottom: 1px solid var(--white-color);
    }

    .search-container,
    .weather-content,
    .cwd-container h3 {
        margin-left: 150px;
        text-align: left;
    }

    .search-container {
        width: 400px;
    }

    #search {
        width: 360px;
    }

    .weather-content {
        gap: 8rem;
    }

    #controls {
        display: flex;
    }

    #controls button {
        margin: 0;
    }
}

@media screen and (max-width: 490px) {

    #last-one {
        display: none;
    }

    #controls input {
        margin: 0;
    }
}